You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
# Write your function here

def negative(number):
    return (number if number < 0 else - number)

In [2]:
# Test your function with input x
x = 4
print(negative(x))

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [10]:
# Write your function here
def minimum(list):
    return sorted(list, reverse=False)[0]

In [11]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]

print(minimum (lst))
# Create you own input list to test with

-3

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

def my_function(lst1, lst2, str1, str2):
    lst = list(zip(map(lambda x:,lst1),lst2))
    df = pd.DataFrame(lst,columns=[str1, str2])
    print(list(zip(lst1,lst2)))
    return df

lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'  

my_function(lst1, lst2, str1, str2)

[(1, 2), (2, 4), (3, 5)]
2

   one  two
0    1    2
1    2    4
2    3    5

In [30]:


lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

print(my_pd_function(lst1, lst2, str1, str2))

         one     alpha
0   0.199130  0.079812
1   0.627826  0.924883
2   0.651304  0.962441
3   0.288696  0.350548
4   0.148696  0.241002
..       ...       ...
95  0.052174  0.034429
96  0.869565  0.791862
97  0.964348  0.953052
98  0.511304  0.669797
99  0.845217  0.076682

[100 rows x 2 columns]

In [31]:
my_dict = {'peaches':'cream', 'cat':'dog', 'this one':'that one'}
my_dict['this one']

'that one'

In [32]:
import matplotlib.pyplot as plt

def save_plot(x, y):
  plt.plot(x, y)
  plt.savefig('new_plot')