In [1]:
import math

The following data types can be used in base python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* complex
* object
* set
* dictionary

We will only focus on the **bolded** ones

In [2]:
type (4)

int

In [3]:
type (0)

int

In [4]:
type (-3.12)

float

In [5]:
numbers=[1,2,3,4,5]
print(sum(numbers))

15

Let's connect these data types to the the variable types we learned from the [Variable Types video](https://www.coursera.org/learn/understanding-visualization-data/lecture/iDodZ/variable-types).

###  Numerical or Quantitative (taking the mean makes sense)
* Discrete
    * Integer (int) #Stored exactly
* Continuous
    * Float (float) #Stored similarly to scientific notation. Allows for decimal places but loses precision.

## Data Types in Python

In [6]:
print(type(4))

<class 'int'>

In [7]:
type(0)
print(0)

0

In [8]:
type(-3)
print(-3)

-3

In [9]:
#try taking the mean
numbers= [2,5,10,20]
print(sum (numbers)/len(numbers))
type(sum(numbers)/len(numbers))#In Python 3 returns float, but in Python 2 would return int

9.25

float

**Floats**

In [10]:
x=3/10
y=3*10**(-1)
print(x)
print(y)
z=x/y

0.3
0.30000000000000004

In [11]:
type(3/5)

float

In [12]:
type(math.pi)

float

In [13]:
type(4.0)

float

In [14]:
# Try taking the mean
numbers = [math.pi, 3/5, 4.1]
print(sum(numbers)/len(numbers))

2.6138642178632643

### Categorical or Qualitative
* Nominal
    * Boolean (bool)
    * String (str)
    * None (NoneType)
* Ordinal
    * Only defined by how you use the data
    * Often important when creating visuals
    * Lists can hold ordinal information because they have indices

**Boolean**

In [15]:
# Boolean
type(True)

bool

In [16]:
# Boolean
if 6 > 5:
    print("Yes!")

Yes!

In [17]:
myList = [True, 6<5, 1==3, None is None]
for element in myList:
    print(type(element))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [18]:
print(sum(myList)/len(myList))
type(sum(myList)/len(myList))

0.5

float

**String**

In [19]:
type("This sentence makes sense")

str

In [20]:
type("Makes sentense this sense")

str

In [21]:
type("math.pi")

str

In [22]:
strList = ['dog', 'koala', 'goose']
sum(strList)/len(strList)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Nonetype**

In [ ]:
# None
type(None)

In [ ]:
# None
x = None
type(x)

In [ ]:
noneList = [None]*5
sum(nonList)/len(nonList)

**Lists**

A list can hold many types and can also be used to store ordinal information.

In [ ]:
# List
myList = [1, 1.1, "This is a sentence", None]
for element in myList:
    print(type(element))

In [ ]:
sum(myList)/len(myList)

In [ ]:
# List
myList = [1, 2, 3]
for element in myList:
    print(type(element))
sum(myList)/len(myList) # note that this outputs a float

In [ ]:
myList = ['third', 'first', 'medium', 'small', 'large']
myList[0]

In [ ]:
myList.sort()
myList

There are more datatypes available when using different libraries such as Pandas and Numpy, which we will introduce to you as we use them.

In [ ]:
new=[2,6,1,7,4,3,9,0,8,5]
new.sort()

In [ ]:
print(new)