## Creating confidence intervals in python
In this assessment, you will look at data from a study on toddler sleep habits. 

The confidence intervals you create and the questions you answer in this Jupyter notebook will be used to answer questions in the following graded assignment.

In [56]:
import numpy as np
import pandas as pd
from scipy.stats import t
pd.set_option('display.max_columns', 30) # set so can see all columns of the DataFrame

Your goal is to analyse data which is the result of a study that examined
differences in a number of sleep variables between napping and non-napping toddlers. Some of these
sleep variables included: Bedtime (lights-off time in decimalized time), Night Sleep Onset Time (in
decimalized time), Wake Time (sleep end time in decimalized time), Night Sleep Duration (interval
between sleep onset and sleep end in minutes), and Total 24-Hour Sleep Duration (in minutes). Note:
[Decimalized time](https://en.wikipedia.org/wiki/Decimal_time) is the representation of the time of day using units which are decimally related.   


The 20 study participants were healthy, normally developing toddlers with no sleep or behavioral
problems. These children were categorized as napping or non-napping based upon parental report of
childrenâ€™s habitual sleep patterns. Researchers then verified napping status with data from actigraphy (a
non-invasive method of monitoring human rest/activity cycles by wearing of a sensor on the wrist) and
sleep diaries during the 5 days before the study assessments were made.


You are specifically interested in the results for the Bedtime, Night Sleep Duration, and Total 24-
Hour Sleep Duration.

Reference: Akacem LD, Simpkin CT, Carskadon MA, Wright KP Jr, Jenni OG, Achermann P, et al. (2015) The Timing of the Circadian Clock and Sleep Differ between Napping and Non-Napping Toddlers. PLoS ONE 10(4): e0125181. https://doi.org/10.1371/journal.pone.0125181

In [57]:
# Import the data
df = pd.read_csv("..\..\\nap_no_nap.csv")

In [58]:
# First, look at the DataFrame to get a sense of the data
print(df.columns)
print(df.shape)
print(df.loc[:,['night bedtime','night sleep duration']])
df.describe()

Index(['id', 'sex', 'age (months)', 'dlmo time', 'days napped', 'napping',
       'nap lights outl time', 'nap sleep onset', 'nap midsleep',
       'nap sleep offset', 'nap wake time', 'nap duration', 'nap time in bed',
       'night bedtime', 'night sleep onset', 'sleep onset latency',
       'night midsleep time', 'night wake time', 'night sleep duration',
       'night time in bed', '24 h sleep duration', 'bedtime phase difference',
       'sleep onset phase difference', 'midsleep phase difference',
       'wake time phase difference'],
      dtype='object')
(20, 25)
    night bedtime  night sleep duration
0           20.45                629.40
1           19.23                672.40
2           19.60                628.80
3           19.46                766.60
4           19.21                678.00
5           19.95                602.20
6           20.60                618.40
7           22.01                526.80
8           20.24                626.80
9           20.78                549.50
10          19.45                655.20
11          20.18                611.20
12          20.22                611.80
13          20.26                618.80
14          20.28                548.00
15          20.46                593.25
16          20.43                649.80
17          20.02                573.60
18          19.50                693.40
19          20.18                615.33

,id,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
count,20.00000,20.000000,20.000000,20.000000,20.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000
mean,10.50000,34.185000,19.637500,2.700000,0.750000,13.508000,13.862667,14.716667,15.572000,15.648000,102.593333,128.404667,20.125500,20.60900,0.483000,1.804500,7.000500,623.464000,669.086500,700.409000,-0.483500,-0.973500,6.169500,11.36300
std,5.91608,2.029331,0.703419,1.894591,0.444262,0.763556,0.745735,0.773154,0.831773,0.660186,20.052957,23.807165,0.642089,0.78564,0.275052,0.502944,0.543889,54.908707,46.340104,45.592934,0.578994,0.588408,0.463641,0.71446
min,1.00000,30.000000,18.220000,0.000000,0.000000,12.470000,12.560000,13.300000,14.050000,14.250000,73.000000,80.000000,19.210000,19.48000,0.050000,1.090000,6.010000,526.800000,582.400000,628.800000,-1.730000,-2.030000,5.070000,9.85000
25%,5.75000,32.975000,19.270000,0.750000,0.750000,12.900000,13.425000,14.305000,15.090000,15.265000,92.500000,118.400000,19.575000,20.00750,0.280000,1.330000,6.650000,599.962500,651.100000,662.237500,-0.882500,-1.267500,5.920000,11.06000
50%,10.50000,33.750000,19.685000,3.000000,1.000000,13.180000,13.870000,14.490000,15.460000,15.780000,100.750000,130.670000,20.200000,20.74000,0.450000,1.905000,7.060000,618.600000,662.100000,706.065000,-0.425000,-0.995000,6.155000,11.41000
75%,15.25000,36.225000,19.995000,4.000000,1.000000,13.995000,14.450000,15.360000,16.050000,16.150000,108.710000,138.165000,20.435000,20.97750,0.645000,2.137500,7.217500,651.150000,696.200000,724.100000,-0.040000,-0.827500,6.347500,11.94500
max,20.00000,37.100000,21.060000,5.000000,1.000000,14.750000,15.030000,15.920000,17.010000,16.600000,155.500000,163.800000,22.010000,22.53000,1.190000,2.920000,8.280000,766.600000,784.000000,782.300000,0.330000,0.190000,7.050000,12.59000

**Question**: What variable is used in the column 'napping' to indicate a toddler takes a nap?


**Question**: What is the sample size $n$?

## Hypothesis testing
We will look at two hypothesis test, each with $\alpha = .025$:  


1. Is the average bedtime for toddlers who nap later than the average bedtime for toddlers who don't nap?


$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}>\mu_{no\ nap}$$
Or equivalently:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap}>0$$


2. The average 24 h sleep duration (in minutes) for napping toddlers is different from toddlers who don't nap.


$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}\neq\mu_{no\ nap}$$
Or equivalenty:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap} \neq 0$$

Aside: This $\alpha$ level is equivalent to $\alpha = .05$ and then applying the [Bonferonni correction](https://en.wikipedia.org/wiki/Bonferroni_correction).

Before any analysis, we will convert 'night bedtime' into decimalized time.

In [59]:
# Convert 'night bedtime' into decimalized time
df.loc[:,'night bedtime'] = np.floor(df['night bedtime'])*60 + np.round(df['night bedtime']%1,2 )*100

Now, isolate the column 'night bedtime' for those who nap into a new variable, and those who didn't nap into another new variable.

In [60]:
nap_bedtime = df[df['napping'] == 1]['night bedtime']
no_nap_bedtime = df[df['napping'] == 0]['night bedtime']

Now find the sample mean bedtime for nap and no_nap.

In [63]:
nap_mean_bedtime = nap_bedtime.mean()
no_nap_mean_bedtime = no_nap_bedtime.mean()
mean_diff = nap_mean_bedtime - no_nap_mean_bedtime

print("NAP BEDTIME\n", nap_bedtime,"\n\n NO NAP BEDTIME\n", no_nap_bedtime,"\n\n nap_mean_bedtime: ",nap_mean_bedtime, "\n no_nap_mean_bedtime: ", no_nap_mean_bedtime, "\n nap_mean_bedtime - no_nap_mean_bedtime: ",mean_diff)

NAP BEDTIME
 5     1235.0
6     1260.0
7     1321.0
8     1224.0
9     1278.0
10    1185.0
11    1218.0
12    1222.0
13    1226.0
14    1228.0
15    1246.0
16    1243.0
17    1202.0
18    1190.0
19    1218.0
Name: night bedtime, dtype: float64

 NO NAP BEDTIME
 0    1245.0
1    1163.0
2    1200.0
3    1186.0
4    1161.0
Name: night bedtime, dtype: float64

 nap_mean_bedtime:  1233.0666666666666
 no_nap_mean_bedtime:  1191.0
 nap_mean_bedtime - no_nap_mean_bedtime:  42.066666666666606

**Question**: What is the sample difference of mean bedtime for nappers minus no nappers?

Now find the sample standard deviation for $X_{nap}$ and $X_{no\ nap}$.

In [64]:
nap_s_bedtime = nap_bedtime.std()
no_nap_s_bedtime = no_nap_bedtime.std()

**Question**: What is the s.e.$(\bar{X}_{nap} - \bar{X}_{no\ nap})$?

We expect the variance in sleep time for toddlers who nap and toddlers who don't nap to be the same. So we use a pooled standard error.

Calculate the pooled standard error of $\bar{X}_{nap} - \bar{X}_{no\ nap}$ using the formula below.

$s.e.(\bar{X}_{nap} - \bar{X}_{no\ nap}) = \sqrt{\frac{(n_1-1)s_1^2 + (n_2-1)s_2^2}{n_1+n_2-2}(\frac{1}{n_1}+\frac{1}{n_2})}$

In [66]:
n1 = len(nap_bedtime)
n2 = len(no_nap_bedtime)
pooled_se = np.sqrt(((((n1-1)*(nap_s_bedtime**2))+((n2-1)*(no_nap_s_bedtime**2)))/(n1+n2-2))*((1/n1)+(1/n2)))
print(pooled_se)

17.77094313065816

**Question**: Given our sample size of $n$, how many degrees of freedom ($df$) are there for the associated $t$ distribution?

Now calculate the $t$-test statistic for our first hypothesis test using  
* pooled s.e.($\bar{X}_{nap} - \bar{X}_{no\ nap}$)  
* $\bar{X}_{nap} - \bar{X}_{no\ nap}$  
* $\mu_{0,\ nap} - \mu_{0,\ no\ nap}=0$, the population difference in means under the null hypothesis

In [67]:
tstat = mean_diff/pooled_se
print(tstat)

2.367160052079275

**Question**: What is the p-value for the first hypothesis test?

To find the p-value, we can use the function:
```
t.cdf(y, df)
```
Which for $X \sim t(df)$ returns $P(X \leq y)$.

Because of the symmetry of the $t$ distrubution, we have that 
```
1-t.cdf(y, df)
```
returns $P(X > y)$

The function t.cdf(y, df) will give you the same value as finding the one-tailed probability of y on a t-table with the specified degrees of freedom.

Use the function t.cdf(y, df) to find the p-value for the first hypothesis test.

In [68]:
pvalue = 1-t.cdf(tstat,18)
print(pvalue)

0.014667451430902756

**Question**: What are the t-statistic and p-value for the second hypothesis test?

Calculate the $t$ test statistics and corresponding p-value using the scipy function scipy.stats.ttest_ind(a, b, equal_var=True) and check with your answer. 

**Question**: Does scipy.stats.ttest_ind return values for a one-sided or two-sided test?

**Question**: Can you think of a way to recover the results you got using 1-t.cdf from the p-value given by scipy.stats.ttest_ind?

Use the scipy function scipy.stats.ttest_ind(a, b, equal_var=True) to find the $t$ test statistic and corresponding p-value for the second hypothesis test.

In [81]:
from scipy import stats

nap_sleep_duration = df[df['napping'] == 1]['night sleep duration']
no_nap_sleep_duration = df[df['napping'] == 0]['night sleep duration']

print(nap_sleep_duration)
print(no_nap_sleep_duration)

nap_mean_sleep_duration = nap_sleep_duration.mean()
no_nap_mean_sleep_duration = no_nap_sleep_duration.mean()
mean_diff_sd = nap_mean_sleep_duration - no_nap_mean_sleep_duration

nap_s_sleep_duration = nap_sleep_duration.std()
no_nap_s_sleep_duration = no_nap_sleep_duration.std()

n1 = len(nap_sleep_duration)
n2 = len(no_nap_sleep_duration)
pooled_se_sd = np.sqrt(((((n1-1)*(nap_s_sleep_duration**2))+((n2-1)*(no_nap_s_sleep_duration**2)))/(n1+n2-2))*((1/n1)+(1/n2)))

tstat_sd = mean_diff_sd/pooled_se_sd
pvalue_sd = (t.cdf(tstat_sd,18))*2
print(tstat_sd)
print(pvalue_sd)

stats.ttest_ind(nap_sleep_duration, no_nap_sleep_duration)

5     602.20
6     618.40
7     526.80
8     626.80
9     549.50
10    655.20
11    611.20
12    611.80
13    618.80
14    548.00
15    593.25
16    649.80
17    573.60
18    693.40
19    615.33
Name: night sleep duration, dtype: float64
0    629.4
1    672.4
2    628.8
3    766.6
4    678.0
Name: night sleep duration, dtype: float64
-2.8409428070482057
0.01084088459007456

Ttest_indResult(statistic=-2.8409428070482057, pvalue=0.01084088459007456)

**Question**: For the $\alpha=.025$, do you reject or fail to reject the first hypothesis?

**Question**: For the $\alpha=.025$, do you reject or fail to reject the second hypothesis?